<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PsicologiaApp"
        tools:targetApi="31">
        <activity
            android:name=".AgendaActivity"
            android:exported="false" />
        <activity
            android:name=".ProgramarPruebaActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilPsicologoActivity"
            android:exported="false" />
        <activity
            android:name=".CitaPsicologoActivity"
            android:exported="false" />
        <activity
            android:name=".CuestionarioActivity"
            android:exported="false" />
        <activity
            android:name=".PsicologoMainActivity"
            android:exported="false" />
        <activity
            android:name=".CambiarContraseniaActivity"
            android:exported="false" />
        <activity
            android:name=".PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".AlumnoMain"
            android:exported="false" />
        <activity
            android:name=".PsicologoInicioSesion"
            android:exported="false" />
        <activity
            android:name=".AlumnoInicioSesion"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>